<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>API Project: File Metadata Microservice</h1>

        <h2>Usage:</h2>
        <p>
          Please Upload a File ...
        </p>
        <div class="view">
          <h3 id="output"></h3>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile" required>
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
      <div class="footer">
        <p>
          by 
          <a href="http://www.freecodecamp.com">freeCodeCamp</a>
        </p>
      </div>

      <script>
        const file = document.querySelector("#inputfield");
        let fileObj, filename, filetype, filesize;

        file.addEventListener("change", (event) => {
          fileObj = event.target.files[0];
          filename = event.target.files[0].name;
          filetype = event.target.files[0].type;
          filesize = event.target.files[0].size;
        
        });

        const submitBt = document.querySelector("#button");
        const form = document.querySelector("form");
        
        document.addEventListener("DOMContentLoaded", () => {
          //alert("Hello there");

          submitBt.addEventListener("click", (event) => {
            //event.preventDefault();
            /*
            if(!fileObj){
              alert("The file is not loaded");
            }else{
              //alert("Hello there");
            }
              */
            
          });// end of submitBt.onclick function
        }); // end of "DOMContentLoad" event listener

      </script>
   </body>
</html>
